$dark-grey-color: #24292E;
$grey-color: #2F363D;
$medium-grey-color: #8E8E8E;
$light-grey-color: #E6E6E6;
$light-grey-two-color: #EDEDED;
$blue-color: #0366D6;
$dark-blue-color: #0351a9;
$red-color: #E71D36;
$dusty-white-color: #FAFAFF;
$white-color: #FFFFFF;
