$fa-font-path: "/bower_components/font-awesome/fonts";

// bower:scss
@import "foundation-sites/scss/foundation.scss";
@import "font-awesome/scss/font-awesome.scss";
// endbower
@include foundation-everything(false);

// Imports
@import "colors";
@import "mixins";

// Styling
body {
  font-family: 'Roboto', sans-serif;
  background: $dusty-white-color;
}
.navbar {
  background-color: $dark-grey-color;
}
.navbar__brand {
  text-decoration: none;
}
.navbar__brand__logo {
  color: $white-color;
}
.navbar__brand__title {
  font-size: 1.500rem;
  font-weight: 700;
  margin-left: .625rem;
  vertical-align: text-bottom;
  color: $white-color;
  @include breakpoint(small only) {
    font-size: 1.250rem;
  }
}
ul.navbar__menu {
  background-color: transparent;
}
.navbar__menu__item a {
  color: $white-color;
  font-size: 1rem;
  padding: 1rem!important;
}
.navbar__menu__item a:hover {
  color: $blue-color;
}
.navbar__menu__item a:focus {
  outline: 0;
}
.menuitem.menuitem--active {
  color: $blue-color;
}
.welcome {
  padding: 1.875rem 0;
  background-color: $grey-color;
  background-image: url('../images/bg-hero.svg');
  background-position: center top;
  background-size: cover;
  color: $white-color;
  margin-bottom: 2.5rem;
  @include breakpoint(small only) {
    background-position: left top;
  }
}
.welcome__title {
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 2rem;
}
.welcome__message {
  font-size: 1.125rem;
  margin-bottom: 2rem;
  @include breakpoint(small only) {
    font-size: 0.875rem;
  }
}
.content {
  margin-bottom: 2.5rem;
}
.services {
  padding: 0 .313rem;
}
.services__elmenet {
  padding: .625rem;
}
.services__element__title {
  font-weight: 700;
  color: $dark-grey-color;
  font-family: 'Roboto', sans-serif;
}
.services__element__description {
  font-weight: 300;
  color: $grey-color;
  font-size: 1rem;
  @include breakpoint(small only) {
    font-size: 0.875rem;
  }
}
.services__element__features__element__image {
  box-shadow: none;
}
.services__element__features__element__image > img {
  max-width: 3.125rem;
  border-radius: 100%;
}
.services__element__features__element__title {
  font-family: 'Roboto', sans-serif;
  color: $blue-color;
  font-weight: 700;
}
.services__element__features__element__description {
  color: $grey-color;
  font-size: .750rem;
  font-weight: 300;
}
.promotion {
  padding: 0 .938rem;
  background-color: $white-color;
  border: 1px solid $light-grey-color;
}
.promotion__element {
  border: none;
}
.promotion__element__title {
  background: transparent;
  padding: .625rem 0;
}
.promotion__element__title > h4 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: $dark-grey-color;
}
.promotion__element__info {
  padding: .625rem 0 0;
}
.promotion__element__info__title {
  color: $blue-color;
  font-size: 1.375rem;
  font-weight: 400;
}
.promotion__element__info__description {
  font-size: .750rem;
  font-weight: 300;
  color: $grey-color;
}
.footer__block {
  background-color: $dark-grey-color;
  padding: .625rem 0;
}
.footer__copyright {
  color: $white-color;
  @include breakpoint(small only) {
    text-align: center;
  }
}
.footer__copyright__heart {
  color: $red-color;
}
.aboutus__heading {
  max-height: 21.875rem;
  overflow-y: hidden;
  margin-bottom: 1.5rem;
  @include breakpoint(small only) {
    max-height: 15rem;
  }
}
.aboutus__title {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  margin-bottom: 2.5rem;
  color: $dark-grey-color;
  @include breakpoint(small only) {
    margin-bottom: 1.0rem;
  }
}
.aboutus__description {
  font-size: 1rem;
  color: $grey-color;
  @include breakpoint(small only) {
    font-size: 0.875rem;
  }
}
.users {
  padding: 1rem 0 0;
}
.users__title {
  margin-bottom: 1rem;
  font-weight: 700;
}
.users__frame {
  background-color: $white-color;
  border: 1px solid $light-grey-color;
  max-height: 38.750rem;
  overflow: hidden;
}
.developers {
  background-color: $dusty-white-color;
  border-right: 1px solid $light-grey-color;
}
.developers__title {
  background-color: $dark-grey-color;
  color: $white-color;
  padding: 1rem;
  max-height: 3.750rem;
}
.developers__title > h5 {
  font-weight: 700;
  margin-bottom: 0;
}
.developers__list {
  max-height: 35rem;
  overflow: scroll;
  // padding: 0.5rem 0;
}
.developers__list__item {
  border-bottom: 1px solid $light-grey-color;
}
.developers__list__item:last-child {
  border-bottom: none;
}
.developers__list__item a {
  padding: 1rem!important;
  color: $dark-grey-color;
  background-color: transparent;
  @include transition(all 200ms);
}
.developers__list__item a:hover {
  color: $white-color;
  background-color: $blue-color;
}
.developers__list__more a {
  max-height: 3.750rem;
  padding: 1rem;
  background-color: $dark-blue-color;
  color: $white-color;
  display: block;
  @include transition(all 200ms);
}
.developers__list__more a:hover {
  background-color: $blue-color;
}
.developer-info {
  padding: 3.0rem;
}
.developer-info__thumbnail > img {
  width: 15rem;
  border: none;
  box-shadow: none;
  border-radius: 0.375rem;
  margin: 1rem 0;
}
.developer-info__name {
  font-weight: 700;
  font-size: 1.5rem;
  margin: .625rem 0;
}
.developer-info__login {
  font-size: 1rem;
  font-weight: 400;
  color: $medium-grey-color;
  @include breakpoint(small only) {
    display: block;
  }
}
.developer-info__stats__menu__item {
  padding: .5rem;
}
.developer-info__stats__menu__item__title {
  font-size: 1rem;
  color: $grey-color;
}
.developer-info__stats__menu__item__value {
  font-size: .875rem;
}
.developer-info__bio {
  margin: .625rem 0;
  font-size: 1rem;
  color: $grey-color;
}
.developer.developer--selected a {
  color: $white-color;
  background-color: $blue-color;
}
.users__offcanvas__inner {
  background-color: $white-color;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,.05), 0 1px 5px 0 rgba(0,0,0,.1);
}
.users__offcanvas__head {
  background-color: $light-grey-two-color;
  padding: 0.7rem;
}
.users__offcanvas__head > h4 {
  font-weight: 700;
}
.users__offcanvas__head__close {
  vertical-align: middle;
  font-size: 1.250rem;
}
.users__offcanvas__list__item {
  border-bottom: 1px solid $light-grey-color;
}
.users__offcanvas__list__item:last-child {
  border-bottom: none;
}
.users__offcanvas__list__item > a {
  padding: 1rem!important;
  color: $dark-grey-color;
  background-color: transparent;
  @include transition(all 200ms);
}
.users__offcanvas__list__item > a:hover {
  color: $white-color;
  background-color: $blue-color;
}
.users__offcanvas__more {
  padding: 0.5rem;
  display: block;
  color: $white-color;
  background-color: $dark-blue-color;
  @include transition(all 200ms);
}
.users__offcanvas__more:hover {
  color: $white-color;
  background-color: $blue-color;
}

// Buttons
.button {
  border-radius: 0.125rem;
  color: $white-color;
  background-color: transparent;
}
.button.button--large {
  font-size: 1.250rem;
  @include breakpoint(small only) {
    font-size: 0.875rem;
  }
}
.button.button--medium {
  font-size: .875rem;
}
.button.button--default {
  background-color: $blue-color;
}
.button.button--action {
  color: $white-color;
  background-color: $blue-color;
  @include transition(all 200ms);
}
.button.button--action:hover {
  background-color: $dark-blue-color;
}
.button.button--outlink {
  color: $dark-grey-color;
  background-color: $light-grey-two-color;
  @include transition(all 200ms);
}
.button.button--outlink:hover {
  color: $white-color;
  background-color: $dark-grey-color;
}

// Badges
.badge.badge--light {
  color: $blue-color;
  background-color: transparent;
}

// Defaults
.title-bar {
  background: $dark-grey-color;
}
