<footer>
  <div class="footer__block">
    <div class="row">
      <div class="medium-12 columns">
        <div class="footer__copyright">
          Made with <i class="footer__copyright__heart fa fa-heart"></i>
        </div>
      </div>
    </div>
  </div>
</footer>
