<header>
  <div class="title-bar" data-responsive-toggle="example-menu" data-hide-for="medium">
    <div class="title-bar-left">
      <span class="title-bar-title">
        <i class="fa fa-github fa-2x"></i>
        <span class="navbar__brand__title">
          Github Users
        </span>
      </span>
    </div>
    <div class="title-bar-right">
      <button class="menu-icon" type="button" data-toggle="example-menu"></button>
    </div>
  </div>

  <div class="top-bar navbar" id="example-menu">
    <div class="row">
      <div class="medium-12 columns">
        <div class="top-bar-left hide-for-small-only">
          <a ui-sref="main" class="navbar__brand">
            <i class="fa fa-github fa-3x navbar__brand__logo"></i>
            <span class="navbar__brand__title">
              Github Users
            </span>
          </a>
        </div>
        <div class="top-bar-right">
          <ul class="menu navbar__menu">
            <li class="navbar__menu__item">
              <a ui-sref="main" class="menuitem" ui-sref-active="menuitem--active">Home</a>
            </li>
            <li class="navbar__menu__item">
              <a ui-sref="about" class="menuitem" ui-sref-active="menuitem--active">About</a>
            </li>
            <li class="navbar__menu__item">
              <a ui-sref="users" class="menuitem" ui-sref-active="menuitem--active">Users</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
