<content>
  <section class="users">
    <div class="row">
      <div class="medium-12 columns">
        <h3 class="users__title">
          Explore Our Developers
        </h3>
        <div class="users__offcanvas">
          <div class="row">
            <div class="small-12 columns show-for-small-only">
              <div class="developers-offcanvas">
                <div class="off-canvas-wrapper">
                  <div class="off-canvas-wrapper-inner">
                    <a class="left-off-canvas-toggle button button--medium button--action">
                      <i class="fa fa-bars"></i>
                      Developers Menu
                    </a>
                    <div class="off-canvas position-left users__offcanvas__inner">
                      <div class="users__offcanvas__head">
                        <h4>Dvelopers</h4>
                        <button class="close-button left-off-canvas-toggle" aria-label="Close menu" type="button" data-close>
                          <!-- <span aria-hidden="true"></span> -->
                          <span class="users__offcanvas__head__close"><i class="fa fa-close"></i></span>
                        </button>
                      </div>
                      <ul class="mobile-ofc vertical menu users__offcanvas__list">
                        <li ng-repeat="user in users" class="users__offcanvas__list__item developer"
                          ng-class="{'developer--selected': user.login === selectedUser.login}">
                          <a ng-click="viewUserInfo(user.login)">
                           {{user.login}}
                          </a>
                        </li>
                      </ul>
                      <a ng-click="loadMore()" class="users__offcanvas__more text-center">
                        <span ng-if="!!isLoading">
                          <i class="fa fa-circle-o-notch fa-spin fa-fw">
                          </i>
                        </span>
                        Load More
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="users__frame">
          <div class="row">
            <div class="medium-4 large-3 columns show-for-medium">
              <div class="developers">
                <div class="developers__title">
                  <h5>
                    Developers
                  </h5>
                </div>
                <ul class="developers__list vertical menu">
                  <li ng-repeat="user in users" class="developers__list__item developer"
                    ng-class="{'developer--selected': user.login === selectedUser.login}">
                    <a ng-click="viewUserInfo(user.login)">
                      {{user.login}}
                    </a>
                  </li>
                  <li class="developers__list__more text-center">
                    <a ng-click="loadMore()">
                      <span ng-if="!!isLoading">
                        <i class="fa fa-circle-o-notch fa-spin fa-fw">
                        </i>
                      </span>
                      Load More
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="small-12 medium-8 large-9 columns">
              <div class="developer-info text-center">
                <div class="developer-info__link text-right">
                  <a class="button button--medium button--outlink" href="{{selectedUser.html_url}}" target="_blank">
                    <i class="fa fa-github"></i>
                    View in Github
                  </a>
                </div>
                <div class="developer-info__thumbnail">
                  <img ng-src="{{selectedUser.avatar_url}}" class="thumbnail">
                </div>
                <div class="developer-info__name">
                  {{selectedUser.name || selectedUser.login}}
                  <span class="developer-info__login" ng-if="!!selectedUser.name">
                    ( {{selectedUser.login}} )
                  </span>
                </div>
                <div class="developer-info__stats">
                  <div class="menu-centered">
                    <ul class="developer-info__stats__menu menu">
                      <li class="developer-info__stats__menu__item">
                        <span class="developer-info__stats__menu__item__title">
                          Repositories
                        </span>
                        <span class="developer-info__stats__menu__item__value badge badge--light">
                          {{selectedUser.public_repos}}
                        </span>
                      </li>
                      <li class="developer-info__stats__menu__item">
                        <span class="developer-info__stats__menu__item__title">
                          Gists
                        </span>
                        <span class="developer-info__stats__menu__item__value badge badge--light">
                          {{selectedUser.public_gists}}
                        </span>
                      </li>
                      <li class="developer-info__stats__menu__item">
                        <span class="developer-info__stats__menu__item__title">
                          Followers
                        </span>
                        <span class="developer-info__stats__menu__item__value badge badge--light">
                          {{selectedUser.followers}}
                        </span>
                      </li>
                      <li class="developer-info__stats__menu__item">
                        <span class="developer-info__stats__menu__item__title">
                          Following
                        </span>
                        <span class="developer-info__stats__menu__item__value badge badge--light">
                          {{selectedUser.following}}
                        </span>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="developer-info__bio">
                  {{selectedUser.bio}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</content>
